<div class="lockbox-partner clearfix">
  <%= render partial: 'lockbox_partners/alerts', locals: { lockbox_partner: @lockbox_partner } %>
  <%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
  <div class="lockbox-activity">
    <% @lockbox_partner.pending_support_requests.each do |support_request| %>
      <div class="">
          TODO -- ACTUALLY BUILD OUT THIS VIEW
          <%= support_request.name_or_alias %>
      </div>
    <% end %>
  </div>
</div>
