<div class="lockbox-partner clearfix">
  <%= render partial: 'lockbox_partners/alerts', locals: { lockbox_partner: @lockbox_partner } %>
  <%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
  <div class="lockbox-activity">
    <% @lockbox_partner.pending_support_requests.each do |support_request| %>
      <%= render partial: 'lockbox_partners/support_requests/pending', locals: { support_request: support_request }%>
    <% end %>
  </div>
</div>
