<div>
  <h2 class="text-info text-center"> Welcome, <%= current_user.name %>!</h2>
</div>
<%= link_to 'Create new lockbox partner', new_lockbox_partner_path %>
<div>
  <h3>Lockbox Partners (<%= @lockbox_partners.length %>)</h3>
  <div id="dashboard-lockbox-partners">
    <%= render partial: 'dashboard/lockbox_partner', collection: @lockbox_partners %>
  </div>
  <div class="horizontal-rule"></div>
</div>
