<div>
  <h2 class="text-info text-center">
    Welcome,
    <%= current_user.name %>!</h2>

  <% if current_user.partner? %>
    <%= render partial: 'dashboard/lockbox_partner', object: @lockbox_partner, as: :lockbox_partner %>
  <% else %>
  </div>
  <%= link_to 'Create new lockbox partner', new_lockbox_partner_path %>
  <div>
    <%= render partial: 'dashboard/lockbox_partner', collection: @lockbox_partners, as: :lockbox_partner%>
  <% end %>
  <div class="horizontal-rule"></div>
</div>
