<div class="lockbox-partner clearfix">
  <h2>Account Creation</h2>
  <div class="alert alert-success d-flex">
    <div class="p-2">
      <i class="fa fa-check-circle alert-primary-icon" aria-hidden="true"></i>
    </div>
    <div class="p-2 flex-grow-1">
      <h4 class="alert-heading">
        Your account has been created
      </h4>
      <div>
        Success! Your account has been created. Please open the menu in the top
        right corner to use the Lockbox app.
      </div>
    </div>
  </div>
</div>
