<div class="lockbox-partner clearfix">
  <h2>Get Support</h2>
  <p>
    <% if current_user.admin? %>
      If you're having issues in the app, please check out
      <%= link_to "our FAQ manual", "https://docs.google.com/document/d/1GEq8hbnjmH_4xq1WFgvuVrLMSTU1knjHLrKZyVqKzcY" %>
      first.
    <% else %>
      If you're having issues in the app, please check out
      <%= link_to "our FAQ manual", "https://docs.google.com/document/d/1GEq8hbnjmH_4xq1WFgvuVrLMSTU1knjHLrKZyVqKzcY" %>
      first.
    <% end %>
  </p>
  <p>
    If you can't find the answer there, you can also email
    <%= link_to "lockbox@midwestaccesscoalition.org", "mailto:lockbox@midwestaccesscoalition.org" %>.
  </p>
</div>
