<div class="lockbox-partner support-container clearfix">
  <h2>Get Support</h2>
  <p>
    If you're having issues in the app, please check out
    <% user_type = current_user.admin? ? "ADMIN" : "PARTNER" %>
      <%= link_to "our FAQ manual", ENV["LOCKBOX_#{user_type}_FAQ_LINK"] %>
      first.
    </p>
    <p>
      If you aren't able to find the answer there, you can also
      <%= link_to "fill out this form", ENV["ISSUE_FORM_LINK"] %>
      and click submit to log your issue. Our all-volunteer IT team will start work on it right away, but the issue may remain for some time depending on how heavy their workload
      is this week.
    </p>

    <p>
      <%= link_to "Log an Issue or Feedback", ENV["ISSUE_FORM_LINK"], :class => "btn btn-primary" %>
    </p>

    <p class="text-muted font-italic my-0">
      If you need immediate assistance, please email
    </p>
    <p>
      <%= link_to ENV["LOCKBOX_EMAIL"], "mailto:#{ENV["LOCKBOX_EMAIL"]}" %>.
    </p>
  </div>
