<div class="lockbox-partner support-container clearfix">
  <h2>Get Support</h2>
  <p>
    If you're having issues in the app, please check out
    <% user_type = current_user.admin? ? "ADMIN" : "PARTNER" %>
    <%= link_to "our FAQ manual", ENV["LOCKBOX_#{user_type}_FAQ_LINK"] %>
    first.
  </p>
  <p>
    If you can't find the answer there, you can also email
    <%= link_to ENV["LOCKBOX_EMAIL"], "mailto:#{ENV["LOCKBOX_EMAIL"]}" %>.
  </p>
</div>
