<div class="notes-log">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Commentor</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <%= render notable.notes %>
    </tbody>
  </table>
</div>
