<%= form_with model: Note.new, url: lockbox_partner_support_request_notes_path(notable.lockbox_partner, notable), id: 'new-note-form' do |f| %>
  <div class="container">
    <div class="textarea">
      <%= f.text_area :text %>
    </div>
    <div class="buttons">
      <%= f.submit 'Save Note', class: 'btn btn-primary' %>
      <a href="#" id="cancel-note">Cancel</a>
    </div>
  </div>
<% end %>
<div class="notes-log">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Commentor</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <%= render notable.notes %>
    </tbody>
  </table>
</div>
