<html>
  <head></head>
  <body>
    <h1>Insufficient funds warning!</h1>
    <p>
      <%= @lockbox_partner.name %> needs additional funds ASAP. Their current
      Pending Support Requests are larger than their current available balance.
    </p>
  </body>
</html>
