<html>
  <head></head>
  <body>
    <h1>Heads up!</h1>
    <div>
      The lockbox balance at <b><%= @lockbox_partner.name %></b> is at <b>$<%= @lockbox_partner.balance.to_s %></b> when taking into account all pending support requests. 
    </div>

    <div>
      Please <%= link_to "add cash to this lockbox", new_lockbox_partner_add_cash_url(@lockbox_partner) %>
    </div>
  </body>
</html>

