<% if lockbox_partner.longstanding_pending_cash_addition? %>
  <div class="alert alert-danger d-flex">
    <div class="p-2">
      <i class="fa fa-exclamation-circle alert-primary-icon" aria-hidden="true"></i>
    </div>
    <div class="p-2 flex-grow-1">
      <div><%= lockbox_partner.name %> has not confirmed cash in <%= lockbox_partner.pending_cash_addition_age %> days. Please check in with them for confirmation.</div>
    </div>
  </div>
<% end %>
<% if lockbox_partner.recently_completed_first_cash_addition? %>
  <div class="alert alert-success d-flex">
    <div class="p-2">
      <i class="fa fa-check-circle alert-primary-icon" aria-hidden="true"></i>
    </div>
    <div class="p-2 flex-grow-1">
      <div><%= lockbox_partner.name %> has confirmed their cash is received, and you can now send them <%= link_to "Support Requests", new_lockbox_partner_support_request_path(lockbox_partner) %>.</div>
    </div>
  </div>
<% end %>