<% if lockbox_partner.reconciliation_needed? %>
  <div class="alert alert-danger d-flex">
    <div class="p-2">
      <i class="fa fa-exclamation-circle alert-primary-icon" aria-hidden="true"></i>
    </div>
    <div class="p-2 flex-grow-1">
      <h4 class="alert-heading">Reconciliation Due</h4>
      <div>It's been <%= days_since_last_reconciliation %> days since the lockbox has been reconciled. Please count the cash in the box and record the total.</div>
    </div>
    <div class="p-2">
      <%= link_to "Reconcile budget", new_lockbox_partner_reconciliation_path(lockbox_partner), class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
