<h2>Welcome, <%= current_user.name %>!</h2>
<div class="lockbox-partner-header">
  <%= link_to 'File a support request', support_requests_new_path, class: 'btn btn-primary view-half' %>
  <%= link_to 'Create new lockbox partner', new_lockbox_partner_path, class: 'btn btn-secondary view-half float-right' %>

  <div class="horizontal-rule"/>
</div>
