<div class="lockbox-partner-header">
  <strong><%= lockbox_partner.city %></strong>
  <%= link_to 'Back to dashboard', lockbox_partners_path, class: 'float-right' %>
  <h2><%= lockbox_partner.name %> <span class="float-right"><%= lockbox_partner.balance %></span></h2>
</div>
