<div class="container">
  <%= form_for @lockbox_partner, html: { class: 'form' } do |f| %>
    <%= render partial: "lockbox_partner_inputs", locals: { f: f } %>
    <%= f.submit 'Add New Partner', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
