<h1>
  A new note was added to Support Request #<%= @support_request.id %>
</h1>
<p>
  View the note here: <%= lockbox_partner_support_request_url(@support_request.lockbox_partner, @support_request) %>
</p>
