<div class="container">
  <%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
  <%= render partial: 'new', locals: { lockbox_partner: @lockbox_partner } %>
  <div class="all-users">
    <h2>Manage users</h2>
  </div>
</div>
