#dashboard-lockbox-partners {
  max-width: 600px;
  margin: 0 auto;
  h2 {
    margin: 30px auto;
  }
  .header-btns{
    .btn-primary {
      height: 50px;
    }
  }
  .lockbox-partner {
    background: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    @media screen and (min-width: 481px) {
      border-bottom-right-radius: 5px;
    }

    h3,
    h4 {
      clear: none;
      margin: 0;

      a,
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
        color: inherit;
      }
    }

    a:hover {
      color: white;
      border: 1px solid darken($color-primary, 10%);
      background-color: darken($color-primary, 10%);
    }

    p {
      margin: 0;
      &:first-of-type {
        margin-top: 1em;
      }
      &.alert {
        color: #c0081e;
      }
    }

    .lockbox-activity {
      margin-bottom: 50px;
    }

    .view-full {
      @media screen and (min-width: 481px) {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 100%;
      }
    }
  }
}

.btn-primary:hover {
  border: $color-primary solid 2px;
}

.btn-secondary {
  background-color: white;
  border: $color-primary solid 2px;
  color: $color-primary;
  &:hover {
    border: darken($color-primary, 15%) solid 2px;
    color: darken($color-primary, 15%);
    background-color: white;
  }
}

.btn-primary.view-full {
  max-width: none;
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
  text-align: left;
}

.btn-primary.view-half {
  max-width: none;
  width: 48%;
  margin-top: 20px;
  text-align: center;
  line-height: 35px;
}

.btn-secondary.view-half {
  font-weight: bolder;
  max-width: none;
  width: 48%;
  margin-top: 20px;
  text-align: center;
  line-height: 35px;
}

.horizontal-rule {
  width: 100%;
  height: 15px;
  border-bottom: 5px solid dimgray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#dashboard-links {
  margin-top: 20px;
  white-space: nowrap;
  @media screen and (max-width: 700px) {
    .usa-width-one-half {
      width: 100%;
    }
  }
  .dashboard-resource {
    padding: 20px;
    line-height: 50px;
    margin: 0 auto;
    .large-icon {
      font-size: 50px;
      vertical-align: middle;
    }
    .resource-text {
      vertical-align: middle;
      margin-left: 15px;
    }
  }
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
}

hr {
  border-width: 2px;
}

.lockbox-partner-header {
  margin: 20px auto;
  width: 75%;
}

.header-separator {
  width: 75%;
  margin: 0 auto;
  height: 15px;
  border-bottom: 4px solid dimgray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
