$devise-background: #d1e4fa;
$mobile-width: 600px;
$color-primary: #4385c4;

html, body {
  height: 100%;
}

.devise {
  background: $devise-background;
  overflow: auto;
  display: flex;
  top: 0;
  margin: 0 auto;
  min-height: 100%;

  /* TODO DEAL WITH THE MEDIA QUERIES */
/*  @media only screen and (min-width: $mobile-width) {
    width: 600px;
    height: 100%;
    border-left: 5px solid #4e85c4;
    border-right: 5px solid #4e85c4;
  }*/
  .devise-form {
    width: 400px;
    margin: 6em auto;
    height: 100%;
    input {
      width: 100%;
    }
    .horizontal-rule {
      width: 100%;
      height: 15px;
      border-bottom: 5px solid dimgray;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      span {
        color: dimgray;
        background: $devise-background;
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .white-button {
      width: 100%;
      background: white;
      border: 3px solid $color-primary;
      color: $color-primary;
    }
    a {
      color: $color-primary;
      font-size: 16px;
      text-decoration: none;
    }
    .actions {
      margin-top: 10px;
    }
  }
}
