.form {
  max-width: 450px;
}

.form-control {
  border: solid 1px black;
  border-radius: 0px;
}

.form-group > label, .field_with_errors > label {
  font-weight: bolder;
}

.field_with_errors {
  display: inline-block;
}

#error_explanation {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1rem 1rem 0 1rem;
  border: solid 1px transparent;
  border-radius: 0.25rem;
  margin: 1em 0;

  h2 {
    font-size: 14px;
  }
}
