.table-no-border {
  th,
  td {
    border: none;
  }
}

.support-request {
  color: $color-primary;
}

.lockbox-activity > p {
  margin: 40px 0;
}

tr.canceled {
  font-style: italic;
}

.action-label {
  display: none;
}

@media screen and (max-width: $mobile-width) {
  .lockbox-activity {
    .table {
      td {
        padding: 0;
      }
      tr {
        padding: 10px;
      }
    }
    .action-label {
      display: inline;
    }
  }
}
