.lockbox-partner-header {
  margin: 0px auto;

  .tooltip-icon {
    color: $color-primary;
    font-size: 0.6em;
  }

  .lockbox-partner-info {
    p {
      width: 300px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.lockbox-partner-buttons {
  display: flex;
  justify-content: space-between;
}

.lockbox-activity {
  table {
    margin-top: 0;
  }
}

.add-cash-form,
.new-user-form,
.support-request-form {
  margin-bottom: 50px;
}
