header {
  margin: 0;
  background-color: $color-primary;
  font-family: $font-sans;
  color: white;

  #nav-title {
    font-weight: bolder;
    color: white;
  }

  .links {
    margin-bottom: 0;

    a,
    a:visited {
      color: white;
      text-decoration: none;
      font-size: 0.8em;
    }
  }

  button.navbar-control {
    background-color: transparent;
    border: none;
    color: white;

    &.expanded .fa-bars,
    &.expanded .fa-cog {
      display: none;
    }

    &:not(.expanded) .fa-times {
      display: none;
    }
  }

  .container {
    width: 80%;
  }

  .btn {
    display: block;
    float: right;
    clear: right;
    border: 2px solid $color-primary;
    background: white;
    color: $color-primary;
    width: 200px;
    margin-bottom: 30px;
  }

  .btn-white:hover {
    background: $color-primary;
    color: white;
    border: 2px solid white;
  }

  .btn-invert {
    background: $color-primary;
    color: white;
    border: 2px solid white;
  }

  #navbar-drawer {
    flex-grow: 1;
    display: none;
    visibility: hidden;

    &.expanded {
      display: block;
    }

    .container {
      display: flex;
      align-items: normal;
      .navbar-subcontainer {
        flex: 0 1 50%;
      }
    }
  }

  .nav-item-right {
    float: right;
    clear: right;

    a {
      font-size: 1em;
    }
  }

  button:focus,
  a:focus {
    outline: 1px dotted white !important;
  }
}

.container.secondary-nav {
  .secondary-nav-tabs {
    margin-top: 0;
  }
}

nav a.edit_contact_info {
  float: none;
  display: inline-block;
  width: auto;
  margin-top: 1em;
  font-size: 0.75em;
  padding: 0.25em 2em;
}

.fa-cog {
  font-size: 1.5em;
}

@media screen and (max-width: 481px) {
  #navbar-drawer {
    .container {
      display: block;

      .navbar-subcontainer {
        flex: none;

        .btn,
        .nav-item-right {
          float: none;
          clear: none;
        }
      }
    }
  }
}
