header {
  margin: 0;
  background-color: $color-primary;
  font-family: $font-sans;
  color: white;
  #nav-title {
    font-weight: bolder;
    color: white;
  }
  p {
    margin-bottom: 0;
    a,
    a:visited {
      color: white;
      text-decoration: none;
      font-size: 0.8em;
    }
  }
  button.navbar-toggle {
    background-color: transparent;
    border: none;
    color: white;
    &.collapsed .fa-times {
      display: none;
    }
    &:not(.collapsed) .fa-bars {
      display: none;
    }
  }
  .container {
    width: 80%;
  }
  .btn {
    display: block;
    float: right;
    clear: right;
    border: 2px solid $color-primary;
    background: white;
    color: $color-primary;
    width: 200px;
    margin-bottom: 30px;
  }
  .btn-white:hover {
    background: $color-primary;
    color: white;
    border: 2px solid white;
  }
  .btn-invert {
    background: $color-primary;
    color: white;
    border: 2px solid white;
  }
  #navbar {
    .container {
      display: block;
    }
  }
  .nav-item-right {
    float: right;
    clear: right;
    a {
      font-size: 1em;
    }
  }
}

.container.secondary-nav {
  .secondary-nav-tabs {
    margin-top: 0;
  }
}

nav a.edit_contact_info {
  float: none;
  display: inline-block;
  width: auto;
  margin-top: 1em;
  font-size: 0.75em;
  padding: 0.25em 2em;
}
