#new-note-form {
  display: none;
  .textarea {
    overflow: hidden;
    width: auto;
    padding-right: 10px;
    textarea {
      width: 100%;
    }
  }
  input[type='submit'] {
    float: right;
    margin: 0;
  }
}

.notes-log .table {
  thead {
    display: none;
  }
  @media screen and (min-width: 768px) {
    thead {
      display: table-header-group;
    }
  }
  border-top: 0px;
  tr.green {
    background: #e7f4e5;
  }
  a.disabled {
    color: gray;
    pointer-events: none;
  }
  tr {
    textarea {
      width: 100%;
    }
    .buttons {
      height: 39px;
      * {
        float: right;
        margin-left: 20px;
      }
      a {
        vertical-align: middle;
        line-height: 39px;
      }
    }
  }
}
