.secondary-nav {
  .secondary-nav-tabs {
    display: flex;
    height: 2rem;
    margin: 0 auto;
    curson: pointer;
  }

  .secondary-tab {
    text-align: center;
    padding: 5px;
    align-self: center;
    position: relative;
    height: 100%;
    width: 49.8%;
    background-color: $darker-blue;
    border-right: solid 1px white;
    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: darken(#194180, 5%);
      // TODO implement the arrows on hover and on active
      // @extend .arrow-down
    }
    &:active {
      background-color: darken($darker-blue, 5%);
    }
    &:last {
      border-right: none;
    }
    &.active-tab:after {
      content: ' ';
      border: 10px solid transparent;
      border-top: 10px solid darken($darker-blue, 5%);
      border-left: 10px solid transparent;
      display: inline-block;
      height: 0;
      width: 0;
      top: 2rem;
      position: absolute;
      left: 45%;
    }
    a {
      width: 100%;
      color: white;
      text-decoration: none;
      font-weight: bolder;
      font-size: small;
    }
  }
}

.secondary-nav-tabs > a:not([href]):not([tabindex]) {
  color: white;
}
