.support-request-header {
  margin: 30px auto;
}

.support-request-container {
  color: black;
  margin: 10px auto;
  .btn {
    margin: 20px auto;
    margin-right: 20px;
    width: 25%;
  }
  .row {
    div {
      p {
        font-size: 2em;
      }
    }
  }
}

#support-request-form {
  .form {
    padding: 20px;
  }
}

.support-request-nav {
  width: 100%;
}
.support-request-nav-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.support-request-nav-item {
  background-color: $grey;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 20px;
  display: inline;
  flex: 1 auto;
  &:last-of-type {
    border-right: none;
  }
}
.support-request-nav-link {
  font-weight: 800;
  &:hover {
    text-decoration: none;
  }
}
