.pending-request {
  background-color: $light-gray;
  margin: 20px 0px;
  border-radius: 0px;
  .content {
    padding: 10px 20px;
  }
  .header {
    background-color: $medium-dark-gray;
  }
  .notes {
    margin: 10px;
    margin-top: 0px;
  }
  a.btn-primary {
    color: white;
  }
  a.btn-primary.view-full {
    border: none;
    &:hover {
      background-color: $darker-blue;
    }
  }
}

#support-requests-index {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    margin: 30px auto;
  }
}

#support-request-form {
  .form {
    padding: 20px;
  }
}

.support-request-header {
  margin: 30px auto;
}

.support-request-container {
  color: black;
  margin: 10px auto;
  margin-top: 0;
  .btn {
    margin: 20px auto;
    margin-right: 20px;
    width: 25%;
  }
  .dropdown-toggle {
    margin: 0;
    width: 160px;
  }
  .row {
    div {
      p {
        font-size: 2em;
      }
    }
  }
}

.support-request-nav {
  width: 100%;
}
.support-request-nav-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.support-request-nav-item {
  background-color: $grey;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 20px;
  display: inline;
  flex: 1 auto;
  &:last-of-type {
    border-right: none;
  }
}
.support-request-nav-link {
  font-weight: 800;
  &:hover {
    text-decoration: none;
  }
}
