.support-request-header {
  margin: 30px auto;
}

.support-request-container {
  color: black;
  margin: 10px auto;
  .btn {
    margin: 20px auto;
    margin-right: 20px;
    width: 25%;
  }
  .row {
    div {
      p {
        font-size: 2em;
      }
    }
  }
}

#support-request-form {
  .form {
    padding: 20px;
  }
}
