.pending-request {
  background-color: $light-gray;
  margin: 20px 0px;
  border-radius: 0px;
  .content {
    padding: 10px 20px;
  }
  .header {
    background-color: $medium-dark-gray;
  }
  .notes {
    margin: 10px;
    margin-top: 0px;
  }
  a.btn-primary.view-full {
    border: none;
    &:hover {
      background-color: $darker-blue;
    }
  }
  @media screen and (min-width: 768px) {
    .dropdown {
      text-align: right;
    }
  }
}
$note-form-color: #d6d7d9;

#support-requests-index {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    margin: 30px auto;
  }

  tbody * {
    cursor: pointer;
  }

  tbody tr:hover {
    background: #f1f1f1;
  }

  .blue-amount {
    color: $darker-blue;
    text-decoration: underline;
  }
}

#support-request-form {
  .form {
    margin: 0px auto;
    max-width: none;
  }
}

#new-lockbox-form {
  .form {
    margin: 0px auto;
    max-width: none;
  }
  padding: 0;
}

.mileage-row .amount-field label:after {
  font-family: 'FontAwesome';
  content: ' \f05a';
}

.support-request-header {
  margin: 30px auto;
}

.support-request-container {
  color: black;
  margin: 10px auto;
  margin-top: 0;
  .tabs {
    padding: 0;
    margin: 0;
    .tab {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      padding-bottom: 17px;
      .btn {
        width: 100%;
      }
    }
    @media screen and (min-width: 768px) {
      .tab {
        width: 250px;
        padding: 17px;
      }
    }
    .tab.selected {
      background: $note-form-color;
    }
  }
  #new-note-form {
    background: $note-form-color;
    .container {
      padding: 20px;
    }
    .textarea {
      width: 500px;
      textarea {
        height: 180px;
      }
    }
    .buttons {
      width: 500px;
      height: 39px;
      padding: 10px;
      * {
        display: inline-block;
        float: right;
        margin-left: 20px;
      }
      a {
        vertical-align: middle;
        line-height: 39px;
      }
    }
  }
  #note-success {
    display: none;
    background: $note-form-color;
    .container {
      padding: 20px;
    }
    i {
      color: #17a729;
    }
    a {
      text-decoration: underline;
    }
  }

  .dropdown-toggle {
    margin: 0;
    width: 160px;
  }
  .dropdown-menu {
    border: 2px solid $color-primary;
    border-radius: 0;
    padding: 0;
  }
  .dropdown-item {
    font-weight: bold;
  }
  .row {
    div {
      p {
        font-size: 2em;
        margin-bottom: 0;
      }
    }
  }
  .support-request-details > div {
    margin-bottom: 13px;
  }
  .lockbox-activity {
    margin-top: -30px;
  }
  .status-label {
    font-size: 1.5em;
  }
  @media screen and (min-width: 768px) {
    .dropdown {
      text-align: right;
    }
  }
  .icon-spacer {
    margin-right: 1.25em;
  }
}

.support-request-nav {
  width: 100%;
}
.support-request-nav-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.support-request-nav-item {
  background-color: $gray;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 20px;
  display: inline;
  flex: 1 auto;
  &:last-of-type {
    border-right: none;
  }
}
.support-request-nav-link {
  font-weight: 800;
  &:hover {
    text-decoration: none;
  }
}
