// FONTS
$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-sans: 'Source Sans Pro', $helvetica !default;
$font-serif: 'Merriweather', $georgia !default;

// COLORS
$color-primary: #1E78BE;
$color-primary-alert: #e1f3f8;
$darker-blue: #194180;
$gray: #dee2e6;
$medium-dark-gray: rgb(207,208,210);
$light-gray: rgb(247,247,247);
