<p> A Lockbox account has been created for you, so that you can access Midwest Access Coalition client requests. BUT! You still have one vital step you must do, to make your account active. </p>

<p> <b>ASAP</b>: Click the link below to confirm your account, and set up your personal password. This will only take about 2 minutes. </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p> <%= link_to 'Here is a very quick walk-through on how to use the Lockbox app', ENV['LOCKBOX_APP_WALKTHROUGH_LINK'] %>. Please do keep this manual confidential and don't save a copy on your computer, or print it out. The best way to reference the walk-through in the future is to bookmark the link above, or save this email. </p>

<p> If you have any other questions about how to use this app, or about why your account was created, please forward this email with your questions to  <%= mail_to ENV['LOCKBOX_EMAIL'] %> </p>

<p> Thank you for all that you do to provide healthcare for those who need it. </p>