<header role="banner">
  <div id="main-header">
    <%= render "layouts/nav_bar" %>
    <%= render "layouts/nav_menu" %>
  </div>
  <% if @lockbox_partner&.id %>
    <%= render 'layouts/secondary_nav' %>
  <% end %>
</header>
