<nav class="navbar d-flex" role="navigation">
  <a href="/" class="navbar-brand flex-item" title="Home" aria-label="Home">
    💸 Lockbox
  </a>
  <button class="flex-item" aria-label="menu">
    <%= fa_icon "bars" %>
  </button>
</nav>
