<nav role="navigation">
  <button><%= fa_icon 'times' %></button>
  <ul>
    <% if signed_in? %>
      <li>
        <%= link_to(edit_user_registration_path, class: '') do %>
          <span>Account</span>
        <% end %>
      </li>
      <li>
        <%= link_to(destroy_user_session_path, method: :delete, class: '') do %>
          <span>Sign Out</span>
        <% end %>
      </li>
    <% else %>
      <li>
        <a href="/users/sign_in">
          <span>Sign In</span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
