<div class="dropdown float-right">
  <% if label %>
    <p>Update Status</p>
  <% end %>
  <%= link_to '#', id: "dropdownMenuLink", :'data-toggle' => "dropdown", :'aria-haspopup' => true, :'aria-expanded' => false do %>
    Update Status <i class="fa fa-angle-down"></i>
  <% end %>
  <p class="status-label">
    <%= support_request.status.capitalize %>
  </p>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <% support_request.status_options(include_current: true).each do |option| %>
      <%= link_to status_display_text(option, support_request),
        lockbox_partner_support_request_update_status_path(
          support_request_id: support_request.id,
          lockbox_partner_id: support_request.lockbox_partner_id,
          status: option
        ),
        class: 'dropdown-item', method: 'post', remote: true %>
    <% end %>
  </div>
</div>
