<% if @support_request.urgency_flag %>
  <div class="alert alert-primary d-flex">
    <div class="p-2">
      <i class="fa fa-info-circle alert-primary-icon" aria-hidden="true"></i>
    </div>
    <div class="p-2 flex-grow-1">
      <span><%= @support_request.urgency_flag %></span>
    </div>
  </div>
<% end %>
