<div class="pending-request">
  <div class="header">
    <div class="content">
      <div class="float-right">
        <p>Update Status</p>
        <a class="btn btn-primary btn-large"><%= support_request.status %> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
      <p><b><%= support_request.pickup_date %> - <%= support_request.name_or_alias %></b></p>
      <h3>Support Request:  <%= support_request.amount %></h3>
    </div>
  </div>
  <div class="notes">
    <div class="content">
      <div class="row">
        <div class="col-sm-3">
          01:20pm, 9/10/19
        </div>
        <div class="col-sm-3">
          [Commenter name]
        </div>
        <div class="col-sm-6">
          ohai there here is some content for a sweet lil note. yay 4 notes! don't u love them?
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <a href="">View all notes <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  f</div>
</div>
