<div class="dropdown">
  <% if label %>
    <p>Update Status</p>
  <% end %>
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= support_request.status.capitalize %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% support_request.status_options.each do |option| %>
      <%= link_to option.capitalize,
        lockbox_partner_support_request_update_status_path(
          support_request_id: support_request.id,
          lockbox_partner_id: support_request.lockbox_partner_id,
          status: option
        ),
        class: 'dropdown-item', method: 'post', remote: true %>
    <% end %>
  </div>
</div>
