<% if @lockbox_partner.nil? || @lockbox_partner.active? %>
  <div id="dashboard-lockbox-partners">
    <%= render partial: 'lockbox_partners/back_to_dashboard', locals: {:alignment => 'left'} %>
    <br/>
    <%= render partial: 'lockbox_partners/dashboard_header' %>
    <% if @lockbox_partner %>
      <%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
    <% end %>
    <%= render partial: 'support_requests/form', locals: { path: @path, form_action: "New" } %>
  </div>
<% else %>
  <p class="text-center">
    Lockbox partner not yet active. There must be an active user and a completed cash addition.
  </p>
<% end %>
